version: '3.8'

services:
  redis:
    image: redis:7-alpine
    networks:
      - internal

  auth-service:
    build: ./services/auth-service
    environment:
      - PORT=3001
      - JWT_SECRET=secret
      - REDIS_URL=redis://redis:6379
    networks:
      - internal
    depends_on:
      - redis

  wallet-service:
    build: ./services/wallet-service
    environment:
      - PORT=3002
      - REDIS_URL=redis://redis:6379
    networks:
      - internal
    depends_on:
      - redis

  transaction-service:
    build: ./services/transaction-service
    environment:
      - PORT=3003
      - REDIS_URL=redis://redis:6379
    networks:
      - internal
    depends_on:
      - redis

  rate-service:
    build: ./services/rate-service
    environment:
      - PORT=3004
    networks:
      - internal

  notification-service:
    build: ./services/notification-service
    environment:
      - PORT=3006
      - REDIS_URL=redis://redis:6379
    networks:
      - internal
    depends_on:
      - redis

  ai-engine:
    build: ./services/ai-engine
    environment:
      - PORT=3005
    networks:
      - internal

  payments-service:
    build: ./services/payments-service
    environment:
      - PORT=3007
      - PAYSTACK_SECRET=your_secret
      - FLUTTERWAVE_SECRET=your_secret
    networks:
      - internal
    depends_on:
      - redis

  api-gateway:
    build: ./services/api-gateway
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - JWT_SECRET=secret
      - AUTH_URL=http://auth-service:3001
      - WALLET_URL=http://wallet-service:3002
      - TX_URL=http://transaction-service:3003
      - RATE_URL=http://rate-service:3004
      - AI_URL=http://ai-engine:3005
      - NOTIF_URL=http://notification-service:3006
    networks:
      - internal
    depends_on:
      - auth-service
      - wallet-service
      - transaction-service
      - rate-service
      - ai-engine
      - notification-service

networks:
  internal:
    driver: bridge
